.bottle {
	position: relative;
	width: 60px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 40;
	&__text {
		padding: 10px;
		border: 3px solid var(--Others-Borders);
		border-radius: 24px;
		width: fit-content;
		background-color: var(--Others-Background);
		display: none;
		position: absolute;
		top: -100px;
		z-index: 40;
	}
	&:hover {
		.bottle__text {
			display: block;
		}
	}
	&__wrapper {
		position: relative;
		bottom: 43px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__images {
		position: absolute;
		filter: drop-shadow(0 2px 1px var(--Others-Borders));
		cursor: pointer;
		height: 150px;
		&:hover {
			overflow: visible;
			height: 160px;
			padding: -10px;
			bottom: 5px;
			filter: drop-shadow(0 2px 4px var(--Others-Borders));
		}
	}
}
.focus {
	.bottle__text {
		display: block;
	}
}
@media (max-width: 1000px) {
	.bottle {
		&__wrapper {
			min-width: 50px;
		}
		&__images {
			min-width: 50px;
		}
	}
}
