:root {
	--colors-1: #7b3958;
	--colors-2: #d67cdb;
	--colors-3: #1d000d8a;
	--Background: #795566;
	--Background-07: #795566bb;
	--Background-05: #79556688;
	--Background-00: #79556600;
	--Text: #f0f0f0;
	--Others-Background: #1d000d;
	--Others-Borders: #ec8ae7;
	--Others-Borders-2: #580870;
}
