.coctails-popup {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 7vw 0 2vw;
	max-width: 90vw;
	max-height: 100vh;
	position: absolute;
	border-radius: 8px;
	z-index: 50;
	padding: 20px;
	background-color: var(--Background);
	border: 4px solid var(--Others-Background);
	&__close-btn {
		z-index: 60;
		margin: 0 0 0 85vw;
		position: absolute;
		top: 40px;
		right: 5vw;
		background-color: initial;
	}
	&__close-img {
		width: 4vw;
	}
	&__drinks {
		min-width: 20vw;
		min-height: 20vw;
		&_none {
			width: 20vw;
			height: 20vw;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
