.close-btn {
	position: relative;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: transform 0.3s;
	&:hover .close-icon_dark {
		stroke: var(--Others-Borders-2);
		animation: transfomate 2s infinite;
	}
	&:hover .close-icon {
		stroke: var(--colors-2);
		animation: transfomate 2s infinite;
	}
	&:active {
		transform: scale(0.9);
	}
}
.close-icon,
.close-icon_dark {
	width: 100%;
	height: 100%;
	stroke: var(--Others-Background);
}
@keyframes transfomate {
	0% {
		transform: scale(0.7);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.7);
	}
}
