.home-page {
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
	background-color: var(--Background);
	display: flex;
	flex-direction: column;
	margin: 0;
}
::-webkit-scrollbar {
	background-color: #825971;
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #360019;
	width: 3px;
	border-radius: 5px;
}
